<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/nav.css" />
<link rel="stylesheet" href="/css/dashboard.css" />
<link rel="stylesheet" href="/css/tickets-table.css">
<link rel="stylesheet" href="/css/side-nav.css" />
</head>
<body>
    <%- include("../inc/nav.ejs") %>
    <main>
        <%- include("../inc/side-nav.ejs") %>

        <div class="dashboard_box">
            <h1>My Support Tickets</h1>
            <table class="tickets_table">
                <thead>
                    <tr>
                        <th>ticket id</th>
                        <th>department</th>
                        <th>subject</th>
                        <th>status</th>
                        <th>last updated</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < tickets.length; i++ ) { %>
                        <tr>
                            <th><%= tickets[i].ticket_id %></th>
                            <th><%= tickets[i].department %></th>
                            <th><%= tickets[i].subject %></th>
                            <th><%= tickets[i].status %></th>
                            <th><%= tickets[i].created_at %></th>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
<%- include("../inc/end.ejs") %>
